.row {
  margin: 20px;
}

h1 {
  padding:20px;
  color:white;
}

body {
  background-color: #650404;
}

.resultbox {
  margin-bottom:10px;
  margin-right: 200px;
  margin-left: 200px;
  background-color:#EFE5E5;
  font-size: 20px;  
}

.footer {
  color:white;
}